<div class="col-md-3">
                <p class="lead">List of Activities</p>
                <div class="list-group">
				
					<table id="fullMenu" class="table">

						<tbody>
								 <tr ng-repeat="x in getActivities">
									 <td>{{x.name}}</td>

									 <td><button ng-click="deletePlace(x)" class="btn btn-danger">x</button></td>

								 </tr>
						</tbody>
					</table>
					<a href="#!/activities" class="btn btn-primary" ng-show="getActivities.length > 0">Confirm Activities</a>
				

                </div>
            </div>