<ng-include src="'partials/header.html'"></ng-include>
{{status}}
<div class="container">

        <div class="row">

            <div class="col-md-12">               
				
                <div class="row">
				
					<div class="col-sm-12 col-lg-12 col-md-12">
						<table class="table">
							<tr ng-repeat="x in getActivities">
							{{x}}
								<td><img ng-src="{{x.prefix}}100x100{{x.suffix}}" /></td>
								<td>{{x.name}}</td>
								<td>{{x.address}}</td>								
							</tr>
						</table>
						<button onclick="window.print();" class="btn btn-success">Print List</button>
						
                    </div>


                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

<ng-include src="'partials/footer.html'"></ng-include>