<ng-include src="'partials/header.html'"></ng-include>

<div class="container">

        <div class="row">

            <div class="col-md-12">               
				
                <div class="row">
				
					<div class="col-sm-12 col-lg-12 col-md-12">
						<table class="table">
							<tr ng-repeat="x in getActivities">
								<td><img ng-src="{{x.response.venue.photos.groups[0].items[0].prefix}}100x100{{x.response.venue.photos.groups[0].items[0].suffix}}" /></td>
								<td>{{x.response.venue.name}}</td>
								<td>{{x.response.venue.location.address}}</td>								
							</tr>
						</table>
						<h2>Print List</h2>
						
                    </div>


                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

<ng-include src="'partials/footer.html'"></ng-include>