<ng-include src="'partials/header.html'"></ng-include>
<!-- {{status}}
Results: {{place.response}} -->

<!-- <ul>
  <li ng-repeat="x in place.response.venue.photos.groups[0].items">
    {{x.prefix + '500x300' + x.suffix}}
  </li>
</ul> -->

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <ng-include src="'partials/activities_sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

            <div class="col-md-9">

                <!-- <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item" ng-class="$index==0: active, item"  ng-repeat="x in place.response.venue.photos.groups[0].items">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>


                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div> -->

                <!-- <div class="row search-bar">
                  <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="col-sm-6">
        							<input type="text" id="dishFilterInput" ng-model="query" />
        							<button id="dishFilterButton" ng-click="search(query, type)">Search</button>
        						</div>
        						<div class="col-sm-6">
                      Categories:
        							<select name="dishType" id="dishType" ng-model="category" ng-change="searchPlaces(category)">
                        <option value="4bf58dd8d48988d1e2941735">Beaches</option>
  											<option value="4bf58dd8d48988d1fa931735">Hotels</option>
        							</select>
        						</div>
                  </div>
                </div> -->
				
                <div class="row">
				
					<div class="col-sm-12 col-lg-12 col-md-12">
						<img ng-src="{{place.response.venue.photos.groups[0].items[0].prefix}}500x300{{place.response.venue.photos.groups[0].items[0].suffix}}" />
                        <h1>{{place.response.venue.name}}</h1>
						<h2>Address: {{place.response.venue.location.address}}</h2>
						<button ng-click="addActivity(place)">Add Activity</button>
                    </div>


                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

<ng-include src="'partials/footer.html'"></ng-include>

Testeo: {{lugares.response.venues}}
