<div class="container">
<!-- Header, permanent -->
		<div id="header" class="col-xs-12">
			<div class="col-xs-4">
				<h1>
					<a href="index.html">Homelette</a>
				</h1>
			</div>
			<div class="col-xs-8">
				From the best chefs in the world directly into your kitchen
			</div>
		</div>

<div class="col-xs-12" id="statusContainer">
			<div id="status"></div>
		</div>

<div id="view1" class="col-xs-12 view">
				<div>
					<h1>A Home Dinner Service</h1>
				</div>
				<div class="col-xs-12">
					Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
				</div>

				<div class="col-xs-12">

					<div class="col-xs-12">
						<a href="#!/search" id="createNewDinner" class="btn btn-primary">Create new dinner</a>
					</div>
				</div>

			</div>
</div>
<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
