<div class="container">

<ng-include src="'partials/header.html'"></ng-include>

<ng-include src="'partials/status.html'">{{status}}</ng-include>

<div id="view5" class="col-sm-12 view">
				<div id="finalMenu" class="col-xs-12">
					<div class="col-xs-4">
						<h1>
							My Dinner:
						</h1>
					</div>
					<div class="col-xs-8">
						<!-- <button class="btn" id="backEditDinner">Go back and edit dinner</button> -->
						<a href="#!/search" class="btn btn-primary">Go back and edit dinner</a>
					</div>
				</div>
				<div class="col-xs-12"></div>
				<div id="Menudishes" class="col-xs-12">

				<div class="col-sm-2 dish-item" ng-repeat="x in getMenu">
						<div class="col-xs-12 dish-image">
						<img ng-src="{{x.image}}" />
						</div>
						<div class="col-xs-12 dish-title"><h4>{{x.title}}</h4></div>
						<div class="col-xs-12 dish-title">{{dishPrice(x)*getNumberOfGuests()}} SEK</div>
				</div>


	<div class="col-sm-2 dish-item">
			<div class="col-xs-12 dish-image"></div>
			<div class="col-xs-12 dish-title">Total:</div>
			<div class="col-xs-12 dish-title">{{menuPricefinal*getNumberOfGuests()}} SEK</div>
			</div>

				</div>
				<div id="printFullRecipe" class="col-xs-12">
					<a href="#!/recipe" class="btn btn-primary">Print Full Recipe</a>
				</div>

			</div>


</div>
